{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .select2-container .select2-search--inline {
            width: 100%;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered,
        .select2-container--default .select2-selection--multiple .select2-selection__clear {
            display: none !important;
        }
        .select2-container--default .select2-search--inline .select2-search__field {
            padding: 5px;
            margin-top: 0;
            line-height: 20px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
            color: #000;
        }
        .table td {
            padding: .25rem 0.75rem;
        }
        #companyTable td {
            padding: 0.5rem;
        }
        .select2-container {
            width: 100%;
        }
        .select2-container--default .select2-results__option[aria-disabled=true] {
            visibility: hidden;
            height: 0;
            padding: 0;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #619040;
        }
        #ticker-search-container {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto 150px;
        }
        #ticker-asset-number-container {
            padding: 5px;
            line-height: 20px;
        }

        table .form-control {
            font-size: 12px;
        }

        .custom-input-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
        }
        .custom-input-group > div {
            width: 50%;
        }
        .custom-input-group .form-label,
        .custom-input-group .form-control {
            font-size: 12px;
        }

        .select2-container .select2-search--inline {
            height: 40px;
        }

        .form-ticker-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .table-responsive {
            margin-bottom: 15px;
            max-height: 600px;
        }

        .submit-btn-container {
            text-align: right;
            margin-top: auto;
        }

        .btn.btn-danger {
            font-size: 0.75rem;
            padding: 0.25rem 0.5rem;
        }

        #tickerSectorPiechart {
            margin-top: 25px;
        }

        .input-form-row {
            display: grid;
            grid-template-columns: 600px auto;
            grid-gap: 20px;
        }

        #confirmationModal .modal-content {
          height: auto;
        }

        .modal-dialog form {
          width: 100%;
        }

        .modal.show .modal-dialog {
            max-width: 600px;
        }

        tr.htmx-swapping td {
          opacity: 0;
          transition: opacity 1s ease-out;
        }

        .table thead th {
            font-size: 13px;
        }

        #add-ticker-modal form label {
            width: 170px;
        }
      
    </style>

      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title">Tickers</h4>
                    <button
                      hx-trigger="click"
                      data-bs-toggle="modal"
                      data-bs-target="#add-ticker-modal"
                      class="btn btn-secondary p-2">
                      Add New Ticker
                    </button>
                  </div>
                  <div class="table-responsive" id="ticker-list-container">
                    

                    {% include 'template-parts/ticker-list.html' %}

                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>



        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close btn btn-inverse-danger p-2" data-bs-dismiss="modal" aria-label="Close"><i class="typcn typcn-times"></i></button>
              </div>
              <form 
                id="deleteTickerForm"
                hx-post="{% url 'delete-ticker' %}" 
                hx-target="#ticker-list-container"
              >
                <div class="modal-body">
                  Are you sure you want to delete the ticker?
                      {% csrf_token %}
                      <input type="hidden" name="ticker_id" id="ticker_id" value="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light py-3 px-4" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-danger py-3 px-4">Delete</button>
                  
                </div>
              </form>
            </div>
          </div>
        </div>


        <div id="add-ticker-modal"
            class="modal modal-blur fade"
            style="display: none"
            aria-hidden="false"
            tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <form 
                id="saveTickerForm"
                hx-post="{% url 'save-ticker' %}" 
                hx-target="#ticker-list-container"
              >
              {% csrf_token %}
                <div class="modal-content custom-scrollbar-container">
                  <div class="modal-header">
                        <h4 class="modal-title">Add New Ticker</h4>
                      <!-- Close button -->
                      <button type="button" class="btn btn-inverse-danger p-2" data-bs-dismiss="modal" aria-label="Close"><i class="typcn typcn-times"></i></button>
                  </div>
                  
                    <div class="modal-body">
                        
                        <div class="form-group mb-3 d-flex">
                            <label for="symbol" class="mb-0 me-3">Symbol</label>
                            <input type="text" class="form-control p-2" id="symbol" name="symbol" maxlength="10" required>
                            <div class="invalid-feedback">Please enter a ticker symbol.</div>
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="shortname" class="mb-0 me-3">Short Name</label>
                            <input type="text" class="form-control p-2" id="shortname" name="shortname" maxlength="255" required>
                            <div class="invalid-feedback">Please enter a short name.</div>
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="longname" class="mb-0 me-3">Long Name</label>
                            <input type="text" class="form-control p-2" id="longname" name="longname" maxlength="255" required>
                            <div class="invalid-feedback">Please enter a long name.</div>
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="sector" class="mb-0 me-3">Sector</label>
                            <input type="text" class="form-control p-2" id="sector" name="sector" maxlength="100">
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="industry" class="mb-0 me-3">Industry</label>
                            <input type="text" class="form-control p-2" id="industry" name="industry" maxlength="100">
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="marketcap" class="mb-0 me-3">Market Cap</label>
                            <input type="number" class="form-control p-2" id="marketcap" name="marketcap" required>
                            <div class="invalid-feedback">Please enter a market cap value.</div>
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="city" class="mb-0 me-3">City</label>
                            <input type="text" class="form-control p-2" id="city" name="city" maxlength="100">
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="state" class="mb-0 me-3">State</label>
                            <input type="text" class="form-control p-2" id="state" name="state" maxlength="100">
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="country" class="mb-0 me-3">Country</label>
                            <input type="text" class="form-control p-2" id="country" name="country" maxlength="100">
                        </div>
                
                        <div class="form-group mb-3 d-flex">
                            <label for="longbusinesssummary" class="mb-0 me-3">Business Summary</label>
                            <textarea class="form-control p-2" id="longbusinesssummary" name="longbusinesssummary" rows="4"></textarea>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light py-2 px-4" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-secondary py-2 px-4">Add Ticker</button>
                    
                    </div>
                </div>
              </form>
            </div>
        </div>

        
      </div>
      <!-- main-panel ends -->
   


      <script>
        // When the confirmation modal is shown, set the run ID in the hidden input
        document.addEventListener('show.bs.modal', function(event) {
            var button = event.relatedTarget; // Button that triggered the modal
            var runId = button.getAttribute('data-ticker-id'); // Extract info from data-* attributes
            var modal = document.getElementById('confirmationModal'); // Get modal
            modal.querySelector('#ticker_id').value = runId; // Set the run ID in the hidden input
        });

        // Close the confirmation modal after the delete run form is submitted
        document.getElementById('deleteTickerForm').addEventListener('htmx:afterRequest', function(event) {
            // Hide the confirmation modal
            var confirmModal = document.getElementById('confirmationModal');
            var confirmModalInstance = bootstrap.Modal.getInstance(confirmModal);
            if (confirmModalInstance) {
                confirmModalInstance.hide();
            }
        });

        document.getElementById('saveTickerForm').addEventListener('htmx:afterRequest', function(event) {
            // Hide the save run modal
            var saveModal = document.getElementById('add-ticker-modal');
            var saveModalInstance = bootstrap.Modal.getInstance(saveModal);
            if (saveModalInstance) {
                saveModalInstance.hide();
            }
        });
      </script>


{% endblock content %}