{% load static %}
<div class="">
  <div class="card">
    <div class="card-body">
      {% csrf_token %}

      <div class="row">
        <div class="col-lg-3">
          <div class="bg-branding p-2">Parameters</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="label">
            <label for="">Total # of Companies</label>
          </div>
          <div class="input">
            <input type="number" class="form-control p-2" value="0.00" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="label">
            <label for="">Sector Restriction</label>
          </div>
          <div class="row sector">
            <div class="col-lg-6">
              <input type="number" class="form-control p-2" placeholder="Min. Value" />
            </div>
            <div class="col-lg-6">
              <input type="number" class="form-control p-2" placeholder="Max. Value" />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="label">
            <label for="">Total # of Companies in Portfolio</label>
          </div>
          <div class="input">
            <input type="number" class="form-control p-2" value="0.00" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="bg-branding p-2 mt-3">Distribution Parameters</div>
        </div>
        <div class="col-lg-3">
          <div class="p-2">
            <label for="">Metric <small>(You can select maximum 5 metrics)</small></label>
            <div>
              <select name="" id="input-matric" class="form-control">
                <option value="Marketcap">Marketcap</option>
                <option value="Beta">Beta</option>
                <option value="Volatility">Volatility</option>
                <option value="PE">PE</option>
                <option value="Rev_Growth">Rev Growth</option>
                <option value="Dividen_Yield">Dividen Yield</option>
                <option value="EPS">EPS</option>
                <option value="Profit_Margin">Profit Margin</option>
                <option value="ROE">ROE</option>
                <option value="Debt_To_Equity">Debt To Equity</option>
                <option value="Operating_Cash_Flow">Operating Cash Flow</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <label for="form-label p-2 d-block">Sector</label>
              <div>
                <select name="" id="sector" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="Technology">Technology</option>
                  <option value="Consumer Cyclical">Consumer Cyclical</option>
                  <option value="Communication Services">Communication Services</option>
                  <option value="Consumer Defensive">Consumer Defensive</option>
                  <option value="Financial Services">Financial Services</option>
                </select>
              </div>
              <div>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
              </div>
              <div class="container-chart mt-4">
                <label for=""> <input type="checkbox" name="" id="" />Total # of permutations </label>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="form-label p-2 d-block">Sector</label>
              <div>
                <select name="" id="" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="Communication_Services">Communication Services</option>
                  <option value="Consumer_Defensive">Consumer Defensive</option>
                  <option value="Consumer_Cyclical">Consumer Cyclical</option>
                  <option value="Technology">Technology</option>
                  <option value="Financial_Services">Financial Services</option>
                </select>
              </div>
              <div>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
              </div>
              <div class="container-chart mt-4">
                <label for=""> <input type="checkbox" name="" id="" class="me-2" />Total # of permutations </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div id="metric-row" class="container-chart-market">
              <!-- Item 1 -->
              <div>
                <label for="marketcap-1">Marketcap</label>
                <select id="marketcap-1" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="0 - 50 Billion">0 - 50 Billion</option>
                  <option value="50 - 100 Billion">50 - 100 Billion</option>
                  <option value="100 Billion and above">100 Billion and above</option>
                </select>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
                <div class="container-chart mt-4">
                  <label for=""> <input type="checkbox" name="" id="" />Include Marketcap </label>
                </div>
              </div>
              <!-- Item 2 -->
              <div>
                <label for="beta">Beta</label>
                <select id="beta" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="0 - 1">0 - 1</option>
                  <option value="1 - 2">1 - 2</option>
                  <option value="2 - 3">2 - 3</option>
                </select>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
                <div class="container-chart mt-4">
                  <label for=""> <input type="checkbox" name="" id="" />Include Beta </label>
                </div>
              </div>
              <!-- Item 3 -->
              <div>
                <label for="volatility">Volatilitiy</label>
                <select id="volatility" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="0 - 0.5">0 - 0.5</option>
                  <option value="0.5 - 1">0.5 - 1</option>
                  <option value="1 and above">1 and above</option>
                </select>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
                <div class="container-chart mt-4">
                  <label for=""> <input type="checkbox" name="" id="" />Include Volatilitiy </label>
                </div>
              </div>
              <!-- Item 4 -->
              <div>
                <label for="pe">PE</label>
                <select id="pe" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="0 - 15">0 - 15</option>
                  <option value="15 - 30">15 - 30</option>
                  <option value="30 and above">30 and above</option>
                </select>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
                <div class="container-chart mt-4">
                  <label for=""> <input type="checkbox" name="" id="" />Include PE </label>
                </div>
              </div>
              <!-- Item 5 -->
              <div>
                <label for="rev_growth">Rev Growth</label>
                <select id="rev_growth" class="form-control">
                  <option value="Select_All">Select all</option>
                  <option value="0 - 5%">0 - 5%</option>
                  <option value="5 - 10%">5 - 10%</option>
                  <option value="10% and above">10% and above</option>
                </select>
                <div class="container-chart mt-4">
                  <img src="{% static 'images/demo-pie.png' %}" alt="" />
                  <h3 class="mt-4">0 of Companies</h3>
                </div>
                <div class="container-chart mt-4">
                  <label for=""> <input type="checkbox" name="" id="" />Include Rev Growth </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit mt-4 d-flex justify-content-end">
        <button type="submit" class="btn bg-branding">Process</button>
      </div>
    </div>
  </div>
</div>

<script>
  const data = [
    { Symbol: 'AAPL', Sector: 'Technology', Industry: 'Consumer Electronics', Marketcap: 3448289886208 },
    { Symbol: 'MSFT', Sector: 'Technology', Industry: 'Software - Infrastructure', Marketcap: 3092590624768 },
    { Symbol: 'NVDA', Sector: 'Technology', Industry: 'Semiconductors', Marketcap: 3064287461376 },
    { Symbol: 'GOOG', Sector: 'Communication Services', Industry: 'Internet Content & Information', Marketcap: 2064893739008 },
    { Symbol: 'AMZN', Sector: 'Consumer Cyclical', Industry: 'Internet Retail', Marketcap: 1957534236672 },
    { Symbol: 'META', Sector: 'Communication Services', Industry: 'Internet Content & Information', Marketcap: 1507620814848 },
    { Symbol: 'TSLA', Sector: 'Consumer Cyclical', Industry: 'Auto Manufacturers', Marketcap: 798915559424 },
    { Symbol: 'WMT', Sector: 'Consumer Defensive', Industry: 'Discount Stores', Marketcap: 650615980032 },
    { Symbol: 'JPM', Sector: 'Financial Services', Industry: 'Banks - Diversified', Marketcap: 600954699776 },
    { Symbol: 'V', Sector: 'Financial Services', Industry: 'Credit Services', Marketcap: 540818440192 },
  ];

  function createDonutChart(ctx, labels, data) {
    return new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Sector Distribution',
            data: data,
            backgroundColor: ['#FF5733', '#33FF57', '#3357FF', '#FF33A6', '#33FFF5', '#FF9F33', '#57FF33', '#A633FF', '#FF3333'],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(2);
              },
            },
          },
        },
      },
    });
  }

  function updateCharts() {
    const selectedSector = Array.from(document.getElementById('sector').selectedOptions).map((option) => option.value);

    // Filter Data based on selections
    const filteredData = data.filter((item) => {
      const isSectorSelected = selectedSector.includes('selectAll') || selectedSector.includes(item.Sector);
      return isSectorSelected;
    });

    const sectorCount = aggregateData(filteredData, 'Sector');

    updateChart(sectorChart, Object.keys(sectorCount), Object.values(sectorCount));
  }

  // Aggregate data for charts
  function aggregateData(data, key) {
    return data.reduce((acc, item) => {
      acc[item[key]] = (acc[item[key]] || 0) + 1;
      return acc;
    }, {});
  }

  // Update chart with new data
  function updateChart(chart, labels, data) {
    chart.data.labels = labels;
    chart.data.datasets[0].data = data;
    chart.update();
  }

  updateChart();

  document.getElementById('sector').addEventListener('change', updateCharts);
</script>
